/.devcontainer/CurveLab-2.1.3.tar.gz
/.devcontainer/hdrpy.zip
/images/
/screenshots/
/smb/
/experiments/
/offline/
/results/
/paper_data/seeded-images/
/paper_data/result_gray_all_merged.json
/paper_data/runs*.json
/paper_data/**/*.csv
/paper_data/**/*.tex
__pycache__/

CurveLab-2.1.3.tar.gz
Desmystifying_Curvelets.ipynb
temp.json
result.json
result.json.norefs.json
sigmoid.npz

version.py
