/.devcontainer/CurveLab-2.1.3.tar.gz
/.devcontainer/hdrpy.zip
/images/
/screenshots/
/smb/
/offline/
/results/
__pycache__/

CurveLab-2.1.3.tar.gz
Desmystifying_Curvelets.ipynb
temp.json
result.json
result.json.norefs.json
sigmoid.npz

version.py
